body{
    background-color: rgb(82, 6, 6);
    font: icon;
}
a{
    color: black;
    
}
footer{
    text-align: center;
}
fieldset{
    margin-top: 15%;
    background-color: whitesmoke;
    align-content: center;
    border-style: dashed;
}